.centerList,.bountiesContainer{
  display:flex;
  align-items: center;
  flex-direction: column;
};
/* .bounties-container input,.bounties-container button{margin-left: 35vw;} */
/* .centerList{
  background-color: rgb(207, 53, 53);
} */